<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This applicatiowas uses APIs from Mapbox and Weatherstack.</p>
        <img class="portrait" src = /img/robot.png>
    </div>
    
    {{>footer}}
</body>

</html>